.about {
    background-color: var(--primary-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    &__anchor {
        display: block;
        position: relative;
        top: -100px;
        visibility: hidden;
    }
    &__heading {
        padding: 0;
        margin: 0;
        color: white;
        border-bottom: 1px dashed white;
        text-align: right;
        text-transform: uppercase;
        font-size: 1.5rem;
        @media only screen and (min-width: $sm) {
            font-size: 1.8rem;
        }
        @media only screen and (min-width: $md) {
            font-size: 2rem;
        }
        @media only screen and (min-width: $lg) {
            font-size: 2.2rem;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-self: center;
        max-width: 50rem;
        width: 100%;
        margin-top: 1rem;
        color: white;
        font-size: 1rem;
        font-weight: 300;
        @media only screen and (min-width: $sm) {
            font-size: 1.2rem;
        }
        @media only screen and (min-width: $md) {
            font-size: 1.4rem;
        }
    }
    &__text-left, &__text-middle, &__text-right {
        width: 100%;
        @media only screen and (min-width: $md) {
            width: 50%;
        }
    }
    &__text-middle {
        @media only screen and (min-width: $sm) {
        align-self: center;
        text-align: center;
        }
    }
    &__text-right {
        @media only screen and (min-width: $sm) {
        align-self: flex-end;
        text-align: right;
        }
    }
}